{% extends 'layout.twig' %}

{% block content %}
    <h1><i class="fas fa-users"></i> Users</h1>
    <div class="icon-grid">
        <div><a href="#" class="button">User List</a></div>
        <div><a href="#" class="button">Permissions</a></div>
        <div><a href="#" class="button">Action 1</a></div>
        <div><a href="#" class="button">Action 1</a></div>
        <div><a href="#" class="button">Action 1</a></div>
        <div><a href="#" class="button">Action 1</a></div>
    </div>

    <h1><i class="fas fa-cogs"></i> Advanced Process</h1>
    <h2>Tests</h2>
    <div class="icon-grid">
        <div><a href="#" class="button">New test</a></div>
        <div><a href="#" class="button">Execute bulk tests</a></div>
        <div><a href="#" class="button">View result</a></div>
    </div>
{% endblock %}