{% extends 'layout.twig' %}

{% block content %}
    <form method="post" action="/save">
        <input placeholder="value" name="value" type="text"/>
        <input type="submit"/>
    </form>
{% endblock %}