{% extends "layout.twig" %}

{% block content %}
    <h1>overview</h1>
    <p>Tests started: 25</p>
    <p>Tests completed: 9</p>
    <h2>Users</h2>
    <p>User count: 7</p>
    <p>Users online: 2</p>
{% endblock %}